<app-content>
    <div>
      <br>
    <div>
  <div class="pull-right">
    
      <button type="button" class="btn btn-success"(click)="gotoCreateProduct()">เพิ่มข้อมูล</button>
  </div>
    </div>
    <br>
    <table class="table">
      <thead class="thead-dark">
        <tr>
            <th scope="col">ลำดับ</th>
          <th scope="col">รหัส</th>
         <th scope="col">ชื่อ</th>
          <th scope="col">นามสกุล</th>
          <th scope="col">ประเภท</th>
         
          
          

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of item">
          <th scope="row">1</th>
          <td>{{item.custId}}</td>
          <td>{{item.name}}</td>
          <td>{{item.lastname}}</td>
          <td>{{item.custType}}</td>
         
          <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button class="btn btn-info" [routerLink]="['/home/edit',item.custId]">แก้ไข</button> 
                    <button type="button" (click)="onDeleteData(item.custId)" class="btn btn-danger">ลบ</button>
                  </div>
            </td>
            </tr>
          </tbody>
        </table>
  </div>
  </app-content>
